COMPOSE_PROJECT_NAME=bilete-vacanta
POSTGRES_DB=vacation_db
POSTGRES_USER=vacation_user
POSTGRES_PASSWORD=vacation_pass
JWT_SECRET=secret_super_sigur_schimba_ma
JWT_EXPIRES_IN=1d
API_PORT=3000
FRONTEND_PORT=5173
DOMAIN=exemplu.ro
EMAIL_ADMIN=admin@exemplu.ro
